@page {
    size: A4 portrait;
    margin-top: 5cm;
}
#header{
    display: none;
}
#about{
    display: none;
}
#contact{
    display: none;
}
#footer{
    display: none;
}
/*#restaurant-menu .section-title{
    display: none;
}*/
.col-xs-12, .col-sm-6, .clase-cat{
	display: inline-flex;
}
.container {
    width: 100%;
}
.row {
    width: 100%;
}
html{
    background-image: url(../img/fondo-agua.jpg)!important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
#restaurant-menu .menu-section {
    margin: 0 20px 16px !important;
}
.section-title {
    margin-bottom: 2px !important;
    height: 3cm !important;
}
.section-title .overlay {
    height: 100% !important;
    padding: 5px 0 !important;
    background-image: url(../img/banner-cafe-solo.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    /*background: rgba(0, 0, 0, 0.7);*/
}
body{
    width: auto !important;
    height:  841.9px !important;
}
#modal-login{
    display:none;
}
.overlay p{
    display:none;
}

#restaurant-menu .menu-item {
    margin: 0px 0 !important;
}
#txt-menu {
    font-size: 60px !important;
    margin-top: 23px !important;
    margin-bottom: 2px !important;
    color: white !important;
    font-weight: 600 !important;
}